/*
 * This file belongs to the YIT Plugin Framework.
 *
 * This source file is subject to the GNU GENERAL PUBLIC LICENSE (GPL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.gnu.org/licenses/gpl-3.0.txt
 */

/* onoff */
.rm_onoff input {
    display : none;
}

.rm_onoff input + span {
    cursor      : pointer;
    text-indent : -9999px;
    display     : block;
    width       : 85px;
    height      : 37px;
    background  : transparent url(../images/off.png);
}

.rm_onoff input:checked + span {
    background : transparent url(../images/on.png);
}

.rm_onoff input.onoffchecked + span {
    background : transparent url(../images/on.png);
}

/* slider */
/*numbers*/
.ui-slider .maxCaption, .ui-slider .minCaption {
    margin-bottom : 5px;
}

.ui-slider .feedback {
    background : url(../images/slider/tooltip.png) no-repeat center top;
    position   : absolute;
    top        : -25px;
    width      : 35px;
    height     : 43px;
    text-align : center;
    width      : 100%;
    display    : block;
}

.ui-slider .feedback strong {
    display     : inline-block;
    padding-top : 4px;
    top         : -30px;
}

/*handle*/
.yit-options .ui-slider-horizontal .ui-slider-handle,
.yit_options .ui-slider-horizontal .ui-slider-handle {
    background : transparent url(../images/slider/handle.png) no-repeat left top !important;
    border     : 0px !important;
    top        : -.35em !important;
    width      : 18px !important;
    height     : 19px !important;
}

/*bg on the left:grey*/
.yit-options .ui-slider.ui-widget-content,
.yit_options .ui-slider.ui-widget-content {
    background   : url(../images/slider/grey.gif) repeat-x left center !important;
    border-color : #c1c1c0 !important;
    height       : 10px !important;
}

.iris-slider-offset.ui-slider.ui-widget-content {
    background : transparent !important;
    height     : auto !important;
}

/*bg on the right:orange*/
.ui-slider.ui-widget-content .ui-widget-header {
    background            : url(../images/slider/orange.gif) repeat-x left center !important;
    left                  : 2px !important;
    -webkit-border-radius : 15px;
    -moz-border-radius    : 15px;
    -khtml-border-radius  : 15px;
    border-radius         : 15px;
}

.plugin-option tr {
    border-bottom : 1px solid #ccc;
}

.plugin-option .yit_options,
.plugin-option .yit-options {
    border-bottom : 0px;
}

.plugin-option .yit-options .option,
.plugin-option .yit_options .option {
    width : 600px;
    float : left;
}

.plugin-option .form-table td {
    padding : 25px 10px;
}

.yit_options .select_wrapper,
.yit-options .select_wrapper {
    background    : url("../images/select.png") no-repeat scroll right center #FAFAFA;
    border-color  : #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-radius : 4px 4px 4px 4px;
    border-style  : solid;
    border-width  : 1px;
    color         : #555555;
    display       : block;
    float         : left;
    font-family   : sans-serif;
    font-size     : 12px;
    height        : 26px;
    margin-bottom : 9px !important;
    margin-left   : 0;
    margin-right  : 5px;
    margin-top    : 0;
    width         : 400px;
}

.chosen .select_wrapper {
    background : none;
    border     : none;
}

.chosen .select_wrapper .chosen-container {
    width : 338px !important;
}

.chosen .select_wrapper .chosen-container .search-field input {
    height : 27px !important;
    color  : #333;
}

.chosen .select_wrapper .chosen-container .chosen-choices {
    border     : 1px solid #ddd;
    box-shadow : none;
}

.chosen .select_wrapper .chosen-container .chosen-choices li.search-choice {
    height    : 15px !important;
    min-width : 105px;
}

.chosen .select_wrapper .chosen-container .chosen-choices li.search-choice span {
    line-height : 15px;
    height      : 15px;
    padding-top : 2px;
}

.chosen .select_wrapper .chosen-container .chosen-choices li.search-choice a.search-choice-close {
    top : 5px;
}

.chosen .select_wrapper .chosen-container .chosen-drop .chosen-search input {
    width : 100% !important;
}

/* === Multiple Chosen Customizzation === */

.smms-choosen .chosen-choices {
    line-height : 27px;
    min-height  : 27px;
    border      : 1px solid #ddd;
}

.smms-choosen .chosen-container-active .chosen-choices {
    border             : 1px solid #5b9dd9;
    -webkit-box-shadow : 0 0 2px rgba(30, 140, 190, .8);
    box-shadow         : 0 0 2px rgba(30, 140, 190, .8);
}

.select_wrapper span {
    height       : 26px;
    line-height  : 26px;
    padding-left : 6px;
    position     : absolute;
    z-index      : 2;
    overflow     : hidden;
}

.ie8 .yit_options select,
.ie8 .yit-options select {
    height : 26px;
}

.yit_options select, .yit-options select, .the-metabox .select_wrapper select {
    cursor           : pointer;
    height           : 28px;
    margin           : 0;
    opacity          : 0;
    padding          : 0;
    position         : relative;
    width            : inherit;
    z-index          : 4;
    background-color : #FAFAFA;
}

/* === Single Chosen Customizzation === */

.smms-choosen .chosen-container-single .chosen-default {
    background   : transparent;
    border-color : #ddd;
}

.smms-choosen .chosen-search > input[type=text] {
    width : 100% !important;
}

.smms-choosen .chosen-container-single .chosen-single {
    background   : transparent;
    border-color : #ddd;
}

/* Style to woocommerce panel*/

#plugin-fw-wc {
    padding-top : 20px;
}

#plugin-fw-wc table.form-table {
    background-color : #fff;
    margin-bottom    : 20px;
}

#plugin-fw-wc table.form-table th {
    padding : 20px;
}

#plugin-fw-wc h3 {
    padding       : 0px 10px 10px;
    border-bottom : 1px solid #eee;
}

/* === VIDEO BOX === */

.smms-videobox-wrapper {
    padding-top : 20px;
}

.smms-videobox-wrapper h3 {
    padding       : 0px 10px 10px;
    border-bottom : 1px solid #eee;
}

.smms-videobox-wrapper .postbox {
    display : inline-block;
}

.smms-videobox-wrapper .smms_videobox .column {
    width          : 45%;
    float          : left;
    padding-right  : 2.5%;
    border-right   : 1px solid #ebebeb;
    padding-bottom : 2em;
}

.smms-videobox-wrapper .smms_videobox .column.two {
    margin-right  : 0;
    padding-right : 0;
    padding-left  : 2.5%;
    border        : 0;
    max-width     : 49%;
}

.smms-videobox-wrapper .smms_videobox h2 {
    font-size     : 16px;
    margin-bottom : 20px;
}

.smms-videobox-wrapper .smms-video-link {
    width     : 100%;
    max-width : 200px;
    float     : left;
    margin    : 0 1.5em 1.5em 0;
}

.smms-videobox-wrapper .smms-video-link {
    width     : 100%;
    max-width : 200px;
    float     : left;
    margin    : 0 1.5em 1.5em 0;
}

.smms-videobox-wrapper .smms-image-frame img {
    max-width : 100%;
    height    : auto;
}

.smms-videobox-wrapper .smms-video-link img {
    max-width : 100%;
    height    : auto;
}

.smms-videobox-wrapper .smms-video-iframe {
    display : none;

}

/* === Plugins Upgrader === */

.yit-plugin-changelog-wrapper {
    display : none;
}

.yit-plugin-changelog-title {
    text-transform : uppercase;
}

.yit-plugin-changelog {
    background : #fcfcfc;
    height     : 97%;
    z-index    : 999;
    overflow   : auto;
}

/* === Plugins Licence Activation === */

.yit-container.plugin-licence-activation {
    font-family : 'Raleway', sans-serif;
}

.yit-container.plugin-licence-activation .to-active-wrapper {
    margin-bottom : 60px;
}

.yit-container.plugin-licence-activation .to-active-wrapper form.to-active-form {
    position     : relative;
    border-color : #e1e1e1;
    border-style : solid;
    border-width : 0;
}

.yit-container.plugin-licence-activation .to-active-wrapper form.to-active-form:first-child {
    border-top-width : 1px;
}

.yit-container.plugin-licence-activation .to-active-wrapper form.to-active-form:last-child {
    border-bottom-width : 1px;
}

.yit-container.plugin-licence-activation .to-active-wrapper table.to-active-table {
    border-width   : 0;
    border-spacing : 0;
    width          : 100%;
}

.yit-container.plugin-licence-activation .message {
    display       : none;
    line-height   : normal;
    background    : #ffffff url(../images/licence-error.png) 15px center no-repeat;
    padding-left  : 65px;
    padding-right : 15px;
    width         : 150px;
}

.yit-container.plugin-licence-activation .message-wrapper {
    height   : 75px;
    display  : none;
    position : absolute;
    top      : 0;
    right    : -250px;
    border   : 1px solid #ff3838;
}

.yit-container.plugin-licence-activation .message-wrapper.visible {
    display : table;
}

.yit-container.plugin-licence-activation .message {
    display        : table-cell;
    vertical-align : middle;
}

.yit-container.plugin-licence-activation .arrow-left:after,
.yit-container.plugin-licence-activation .arrow-left:before {
    content  : "";
    display  : block;
    width    : 0;
    height   : 0;
    position : absolute;
}

.yit-container.plugin-licence-activation .arrow-left:before {
    border-top    : 9px solid transparent;
    border-bottom : 9px solid transparent;
    border-right  : 9px solid #ff3838;
    top           : 26px;
    left          : -9px;
}

.yit-container.plugin-licence-activation .arrow-left:after {
    border-top    : 8px solid transparent;
    border-bottom : 8px solid transparent;
    border-right  : 8px solid #fff;
    left          : -8px;
    top           : 27px;
}

.yit-container.plugin-licence-activation h2,
.yit-container.plugin-licence-activation h3 {
    text-transform : uppercase;
    font-weight    : 800;
    margin-bottom  : 30px;
}

.yit-container.plugin-licence-activation h2 {
    color     : #808a97;
    font-size : 25px;
}

.yit-container.plugin-licence-activation h3 {
    color     : #313131;
    font-size : 15px;
    height    : 20px;
}

.yit-container.plugin-licence-activation h3.to-active {
    height         : 20px;
    position       : relative;
    vertical-align : top;
}

.yit-container.plugin-licence-activation .spinner.show {
    display        : inline-block;
    vertical-align : middle;
    float          : none;
}

.yit-container.plugin-licence-activation h3.to-active > .spinner.show {
    display  : inline-block;
    float    : none;
    top      : -3px;
    position : relative;
}

.yit-container.plugin-licence-activation .licence-check-section {
    margin-bottom : 60px;
}

.yit-container.plugin-licence-activation span.licence-label {
    font-weight   : 500;
    color         : #606060;
    margin-bottom : 30px;
}

.yit-container.plugin-licence-activation .button-licence {
    border             : 0;
    font-size          : 13px;
    text-transform     : uppercase;
    background-color   : #808a97;
    color              : #fff;
    font-weight        : 700;
    border-radius      : 3px;
    cursor             : pointer;
    text-decoration    : none;
    padding            : 5px 7px;
    -webkit-transition : background-color 0.3s ease;
    -moz-transition    : background-color 0.3s ease;
    -ms-transition     : background-color 0.3s ease;
    -o-transition      : background-color 0.3s ease;
    transition         : background-color 0.3s ease;
}

.yit-container.plugin-licence-activation .button-licence:hover {
    background-color : #4d5c6f;
}

.yit-container.plugin-licence-activation .button-licence.clicked {
    cursor           : not-allowed;
    background-color : #e2e2e2 !important;
}

.yit-container.plugin-licence-activation .button-licence.licence-check {
    font-weight : 400;
    padding     : 12px 19px;
}

.yit-container.plugin-licence-activation .button-licence.licence-renew {
    text-decoration : none;
    padding         : 7px 12px;
    font-size       : 9px;
}

.yit-container.plugin-licence-activation .button-licence.licence-renew:focus {
    box-shadow : none;
}

.yit-container.plugin-licence-activation table:not(.to-active-table) {
    width           : 100%;
    border          : 1px solid #dcdcdc;
    border-spacing  : 0;
    border-radius   : 5px;
    border-collapse : separate;
    overflow        : hidden;
}

.yit-container.plugin-licence-activation table:not(.to-active-table) th {
    border-bottom : 1px solid #dcdcdc;
}

.yit-container.plugin-licence-activation table:not(.to-active-table) td,
.yit-container.plugin-licence-activation table:not(.to-active-table) th {
    border-right : 1px solid #dcdcdc;
}

.yit-container.plugin-licence-activation table td:last-child,
.yit-container.plugin-licence-activation table th:last-child {
    border-right : 0;
}

.yit-container.plugin-licence-activation table thead tr {
    background-color : #f6f4f4;
}

.yit-container.plugin-licence-activation table tbody tr {
    background-color : #ffffff;
}

.yit-container.plugin-licence-activation table thead tr th {
    font-size      : 13px;
    color          : #313131;
    text-transform : uppercase;
    font-weight    : bold;
}

.yit-container.plugin-licence-activation table thead tr,
.yit-container.plugin-licence-activation table tbody tr {
    line-height : 60px;
}

.yit-container.plugin-licence-activation table tbody tr td {
    text-align  : center;
    line-height : 20px;
    padding     : 10px 5px;
}

.yit-container.plugin-licence-activation .button-licence.licence-activation {
    padding : 12px 18px;
}

.yit-container.plugin-licence-activation .to-active-table tr {
    line-height : 75px;
}

.yit-container.plugin-licence-activation .to-active-table tr.plugin-row {
    background-color   : transparent;
    -webkit-transition : all 0.3s ease;
    -moz-transition    : all 0.3s ease;
    -ms-transition     : all 0.3s ease;
    -o-transition      : all 0.3s ease;
    transition         : all 0.3s ease;
}

.yit-container.plugin-licence-activation .to-active-table tr.plugin-row.error {
    background-color : #ffdcdc;
}

.yit-container.plugin-licence-activation .to-active-table td {
    padding-right : 12px;
    width         : 33%;
}

.yit-container.plugin-licence-activation .to-active-table td.plugin-name {
    color          : #808a97;
    font-size      : 12px;
    text-transform : uppercase;
    font-weight    : bold;
    line-height    : 20px;
    width          : 20%;
    padding-left   : 20px;
}

.yit-container.plugin-licence-activation .to-active-table td.activate-button {
    width    : 15%;
    position : relative;
}

.yit-container.plugin-licence-activation input[type=text],
.yit-container.plugin-licence-activation input[type=email] {
    -webkit-transition : all 0.3s ease;
    -moz-transition    : all 0.3s ease;
    -ms-transition     : all 0.3s ease;
    -o-transition      : all 0.3s ease;
    transition         : all 0.3s ease;

    border             : 1px solid #dcdcdc;
    padding            : 0 15px;
    border-radius      : 3px;
    height             : 41px;
    width              : 100%;
}

.yit-container.plugin-licence-activation input[type=text].require,
.yit-container.plugin-licence-activation input[type=email].require {
    border : 1px solid #ff3838;
}

.yit-container.plugin-licence-activation input[type=text]:focus,
.yit-container.plugin-licence-activation input[type=email]:focus {
    webkit-box-shadow : 0 0 1px rgba(30, 140, 190, .8);
    box-shadow        : 0 0 1px rgba(30, 140, 190, .8);
}

.yit-container.plugin-licence-activation input[type=text] {
    text-transform : uppercase;
    text-align     : center;
}

.yit-container.plugin-licence-activation input[type=email] {
    text-align : left;
}

.yit-container.plugin-licence-activation input[type=submit]:focus {
    outline : 0;
}

/* === Woocommerce panel === */
#plugin-fw-wc .yit_options {
    padding : 0;
    border  : 0;
}

#plugin-fw-wc .yit_options input.upload_button, .yit_options input.button {
    background : none;
    border     : 1px solid #ccc;
}

/* === WP Pointers === */

#adminmenu li.menu-top.yit-pointer-selected-row,
#adminmenu li.menu-top.yit-pointer-selected-row:hover,
#adminmenu li.yit-pointer-selected-row a.menu-top {
    background-color : #acc327;
    color            : #000;
}

#adminmenu a.menu-top.toplevel_page_yit_plugin_panel.yit-pointer {
    color : #000;
}

#adminmenu a.menu-top.toplevel_page_yit_plugin_panel.yit-pointer:hover,
#adminmenu .wp-submenu a.yit-pointer-selected-row {
    color : #fff;
}

#adminmenu .wp-submenu a.yit-pointer-selected-row:hover {
    color : #45bbe6;
}

/* WooCommerce 2.4 Support */
.woocommerce table.form-table .colorpick {
    width : 6em;
}

#wpwrap h2.nav-tab-wrapper , #wpbody-content h2.nav-tab-wrapper {
    border-bottom: 1px solid #ccc;
}

/* === YIT FRAMEWORK === */
.plugin-card .plugin-icon img {
    max-width : 100%;
    width     : auto;
    height    : auto;
}

/* === Panel Content and Container === */
.yit-admin-panel-container{
    position:relative;
}
.yit-admin-panel-content-wrap {
    width   : calc(100% - 300px);
    display : inline-block;
}

.yit-admin-panel-content-wrap.yit-admin-panel-content-wrap-full {
    width   : 100%;
    display : block;
}

/* === Responsive === */

@media (max-width : 767px) {
    .yit-admin-panel-content-wrap {
        width   : 100%;
        display : block;
    }
}

@media (max-width : 480px) {

}

@media (min-width : 768px) and (max-width : 992px) {
}

@media (min-width : 980px) and (max-width : 1199px) {
}

@media (min-width : 1200px) {
    .yit-container.plugin-licence-activation {
        width : 900px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (-o-min-device-pixel-ratio : 3/2), only screen and (min--moz-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
}
