.style2 .smgc-logo-shop {
    display: none;
}

.style2 .smgc-generated-code {
    display: block;
    margin: 0 auto;
}

.style2 .smgc-card-amount {
    width: 100%;
    text-align: center;
}

.style1 .smgc-logo-shop {
    width: 40%;
    display: inline-block;
}

.style1 .smgc-card-amount {
    display: inline-block;
    width: 50%;
    float: right;
}

.style1 .smgc-top-header {
    display: none;
}

.style2 .smgc-top-header {
    max-width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
}

.smgc-customizer,
.smgc-preview {
    clear: both;
}

.smgc-preview {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 5px solid #F7F4F4;
    padding: 5px;
}

.smgc-manual-amount {
    display: inline-block;
}

.smgc-manual-amount.smgc-hidden {
    display: none;
}

.smgc-generator {
    clear: both;
    padding-top: 10px;
}

.smgc-generator input.smgc-choose-image {
    background-color: #a7a7a7;
    color: white;
    text-transform: uppercase;
    padding: 8px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    float: left;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 40px;
}

.smgc-generator input.smgc-default-picture {
    background-image: url("../images/default-picture.png");
    background-repeat: no-repeat;
    background-position: 10px;
}

.smgc-generator input.smgc-custom-picture {
    background-color: #5f5f5f;
    background-image: url("../images/customize-picture.png");
    background-repeat: no-repeat;
    background-position: 10px;
}

.smgc-generator input.smgc-choose-template {
    background-image: url("../images/choose-template-design.png");
    background-repeat: no-repeat;
    background-position: 10px;
}

.smgc-generator #smgc-upload-picture {
    visibility: hidden;
    display: none;
}

.gift-card-content-editor {

}

.gift-card-content-editor textarea {
    display: block;
    width: 100%;
}

.gift-card-too-small {
    background-color: #ffe326;
    padding: 10px;
    color: #3d3939;
    margin-bottom: 5px;
}

.smgc-logo-shop img.smgc-logo-shop-image {
    max-width: 100%;
    max-height: 100px;
}

a.add-recipient, a.smgc-remove-recipient {
    display: block;
    text-decoration: none;
    border: none;
    color: green;
}

a.smgc-remove-recipient {
    color: red;
}

.smgc-hidden {
    display: none;
}


/** Gift card editor */
.gift-card-content-editor {
    clear: both;
    overflow: hidden;
}

.smgc-generator h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.smgc-logo-shop {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
}

.smgc-card-values {
    overflow: hidden;
    padding: 5px 0;
    display: table;
    width: 100%;
}

.smgc-card-code {
    padding: 10px;
    color: #9b9b9b;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.smgc-card-amount {
    text-align: right;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    display: table-cell;
}

/*.smgc-card-message {*/
/*clear: both;*/
/*min-height: 70px;*/
/*padding: 10px;*/
/*text-align: center;*/
/*color: #535353;*/
/*font-weight: 600;*/
/*vertical-align: middle;*/
/*display: inline-block;*/
/*width: 100%;*/
/*font-size: 12px;*/
/*white-space: pre-wrap;*/
/*}*/

.smgc-card-message {
    white-space: pre-wrap;
}

/** Editing gift card content on order page */
.smgc-gift-card-content .smgc-show {
    display: inline-block !important;
}

.smgc-gift-card-content .smgc-hide {
    display: none !important;
}

.smgc-gift-card-content .smgc-edit-value.apply {
    background-color: #7caf00;
    background: #7caf00;
    color: white;
}

.smgc-gift-card-content .smgc-edit-value.apply:hover {
    background-color: #5b8000;
    background: #5b8000;
}

.smgc-gift-card-content.smgc-edit-value .smgc-show-value {
    display: none;
}

.smgc-gift-card-content.smgc-edit-value .smgc-edit-value {
    display: inline-block;
}

.smgc-gift-card-content fieldset {
    border: none;
}

.smgc-main-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.smgc-single-recipient {
    margin-bottom: 5px;
    position: relative;
}

.smgc-recipient {
    max-width: 85%;
    display: inline-block;
}

.smgc-single-recipient a.smgc-remove-recipient {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
}

.smgc-single-recipient a.hide-if-alone {
    visibility: hidden;
}

.smgc-sender-name,
.smgc-recipient-name,
.smgc-message {
    margin-top: 15px;
}

#smgc-sender-name {
    display: block;
}

#smgc-cancel-gift-card {
    display: inline-block;
    margin-bottom: 30px;
}

button#give-as-present {
    visibility: visible;
    margin: 10px 0;
}

.smgc-postdated {
    margin-top: 15px;
    margin-bottom: 15px;
}

.smgc-picture-error,
.smgc-filling-error {
    color: red;
    font-size: 12px;
}

.smgc-gift-card-content a.edit-details {
    font-size: 10px;
    text-decoration: none;
}

.smgc-gift-card-edit-details fieldset,
.smgc-gift-card-details fieldset {
    padding: 5px 0;
    margin: 0;
}

.smgc-generator .smgc-hidden {
    display: none;
}

.smgc-gift-card-content label {
    display: inline-block;
}

a.smgc-view-order.button {
    margin-bottom: 5px;
}

.smgc-top-header {
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
}

/* Modal gift card design selection */
ul.smgc-template-categories {
    float: left;
    list-style: none;
    margin-left: 10px;
}

li.smgc-template-item.smgc-category-all {
    border-bottom: 1px solid #D0C9C9;
    margin-bottom: 15px;
}

li.smgc-template-item {
    padding: 0 30px 0 10px;
}

a.smgc-category-selected {
    font-weight: bold;
}

.smgc-design-list {
    float: left;
    padding: 0 20px;
    width: 75%;
}

.smgc-design-item {
    float: left;
    margin: 0 40px 40px 0;
}

.smgc-design-item button {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

#smgc-choose-design-modal .pp_close {
    z-index: 999;
}

#smgc-choose-design-modal:before {
    clear: both;
    content: '';
    display: block;
}

#smgc-choose-design-modal {
    clear: both;
}

/* End of Modal gift card design selection */

#giftcard_code {
    max-width: 50%;
}

.gift-card-content-editor.step-appearance,
.gift-card-content-editor.step-content {
    margin-bottom: 30px;
}

.smgc-editor-section-title {
    display: block;
    padding: 10px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.smgc-design-list img {
    max-width: 175px;
}

.smgc-design-list {
    overflow: hidden;
    height: 100%;
}

.pp_content {
    height: 60% !important;
    overflow: hidden;
}

.smgc-manual-amount-error {
    font-size: smaller;
}

.smgc-empty-recipient-note {
    display: inline-block;
    font-size: smaller;
    color: grey;
}

.smgc-bad-email-format {
    font-size: 10px;
    display: block;
    color: red;
}

.smgc-discount-html {
    font-size: smaller;
}

.smgc-multi-recipients {
    margin: 10px 0;
}

.smgc-preset-title {
    display: block;
    text-align: center;
}