p.form-field._gift_card_amount_field span.variation-amount {
    float: left;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    border: 1px solid #cbcbcb;
}

p.form-field._gift_card_amount_field span.variation-amount span.amount {
    font-size: 13px;
    color: #838383;
}

p.form-field._gift_card_amount_field a.remove-amount {
    position: absolute;
    top: -8px;
    right: -7px;
    background-color: white;
    padding: 0px;
    line-height: 1;
    color: #a0a5aa;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #838383;
}

p.form-field._gift_card_amount_field a.remove-amount:hover {
    background-color: #b20000;
}

p.form-field._gift_card_amount_field a.remove-amount:before {
    content: 'x';
    position: absolute;
    left: 5px;
    top: 1px;
}

p.form-field._gift_card_amount_field a.remove-amount:hover:before {
    color: white;
}

#gift_card-amount {
    width: 100px;
    margin-right: 10px;
}

a.add-new-amount {
    background-color: #009c0f;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
}

span.add-new-amount-section {
    display: inline-block;
}

span.smgc-delivery-status.scheduled {
    color: #FFA700;
}

span.smgc-delivery-status.sent {
    color: #40C771;
}

span.smgc-delivery-status.failed {
    color: #EA1306;
}

a.smgc-delivery-status.retry-sending {
    display: inline-block;
    border: 1px solid #D4CECE;
    border-radius: 5px;
    padding: 3px 5px;
    background-color: #4BB939;
    color: white;
}

a.smgc-delivery-status.retry-sending:hover {
    color: #1E6F11;
}

tr.type-gift_card.status-smgc-disabled {
    background-color: #fef7f1;
}

tr.type-gift_card.status-smgc-dismissed {
    background-color: #C5C5C5;
}

tr.type-gift_card.status-smgc-disabled th.check-column,
tr.type-gift_card.status-smgc-dismissed th.check-column {
    border-left: 4px solid #d54e21;
}

td.column-gift_card_actions {
    font-size: 12px;
}

td.column-gift_card_actions a {
    display: inline-block;
    border: 1px solid #D4CECE;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    color: white;
}

a.smgc-actions.disabled {
    background-color: #4BB939;
}

a.smgc-actions.disabled:before {
    content: url("../images/admin-enable-gift-card.png");
    margin-right: 10px;
    top: 2px;
    position: relative;
}

a.smgc-actions.enabled {
    background-color: #b9331e;
}

a.smgc-actions.enabled:before {
    content: url("../images/admin-disable-gift-card.png");
    margin-right: 10px;
    top: 2px;
    position: relative;
}

a.smgc-actions.send-now {
    background-color: #09b6db;
}

a.smgc-actions.send-now:before {
    content: url("../images/admin-send-gift-card-code.png");
    margin-right: 10px;
    top: 2px;
    position: relative;
}