/* Put your CSS here */

h2,
.center-email,
.smgc-footer {
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}

.smgc-product-image {
    float: left;
    display: inline-block;
    max-width: 30%;
    margin-right: 20px;
}

.smgc-suggested-text {
    padding: 0 20px;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    color: #484848;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.8;
}

.smgc-product-description {
    float: left;
    width: 60%;
}

.smgc-product-title {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color: #484848;
    margin-bottom: 10px;
    opacity: 0.8;
}

.smgc-product-excerpt {
    margin-bottom: 15px;
}

.smgc-product-link {
    display: inline-block;
    padding: 8px 15px;
    background-color: #afafaf;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

div.smgc-gift-card-content input,
div.smgc-gift-card-content textarea,
div.smgc-gift-card-content button {
    display: none;
}

div.smgc-gift-card-content fieldset {
    border: none;
}

img.smgc-logo-shop-image {
    max-width: 50px;
}

.smgc-logo-style2 {
    text-align: center;
}

.smgc-add-cart-discount {
    text-align: justify;
    clear: both;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.smgc-add-cart-discount a {
    text-decoration: none;
}

.smgc-discount-link {
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: #557da1;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
}

.smgc-discount-message {
    display: block;
    margin-bottom: 25px;
    text-align: justify;
}

.smgc-product-suggested {
    background-color: #f0f0f0;
    padding: 30px 0;
    margin-bottom: 30px;
}

.smgc-discount-link-section {
    text-align: center;
    margin-bottom: 30px;
}

.smgc-generated-code {
    font-weight: bold;
    display: block;
    font-size: 18px;
}

.smgc-expiration-message{
    padding-bottom: 20px;
    color: #fe4b20;
    text-align: center;
}